name: GH-Pages
on:
  push:
    branches:
      - stable

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.0

      - name: Install Package Dependencies
        run: flutter pub get

      - name: Install Example Dependencies
        run: flutter pub get
        working-directory: ./example

      - name: Build Web
        run: flutter build web --release
        working-directory: ./example
    
      - name: Deploy
        run: |
          cd example/build/web
          git init
          git config user.name "hm21"
          git config user.email "alex.frei@hotmail.ch"
          git remote add secure-origin https://username:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git checkout -b gh-pages
          git add .
          git commit -m "Deployed Github Pages"
          git push --force secure-origin gh-pages
